* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Helvetica Neue', Helvetica, Verdana, Arial, sans-serif;
	font-size: 12pt;
}


#info_container {
	display: table;
	width: 100%;
}

#info {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	font-size: 16pt;
	height: 150px;
	padding: 16px 30px;
	width: 100%;
}

#info p {
	cursor: default;
}

.message {
	text-align: center;
	vertical-align: middle;
	padding: 8px 8px;
	display: none;
}

.info_try_again {
	font-size: 12pt;
	color: gray;
}

.error {
	background-color: #ffb5b5;
	color: #800000;
}

.fatal_error {
	background-color: #803434;
	color: #ff8080;
}

.fatal_error a {
	color: #8080ff;
}

.warning {
	background-color: #ffffb3;
	color: #4d4d00
}

.info {
	background-color: #E8E8E8;
	color: #4d4d4d
}

.goahead {
	background-color: #b3ffb3;
	color: #004d00;
}
