#TemplateEditor {
	width: 600px;
	background-color: #ffffb3;
	border: solid #87875f thin;
	position: fixed;
	top:50%;
	left:50%;
	display: none;
}

#TemplateEditor_content {
	padding: 20px;
}

#TemplateEditor_footer {
	text-align: right;
}
#TemplateEditor_buttons {
	white-space: nowrap;
	margin-top: 10px;
}

#TemplateEditor_buttons input {
	width: 120px;
}