<!-- rostopics to be bagged for INSPIRE4 freeplay annex -->

<launch>
	<!-- It is mandatory to provide a participantID -->
	<arg name="participantID" />

	<arg name="bag_path" default="/home/$(env USER)/inspire_four_bags/$(arg participantID)/" />
	<arg name="split_size" default="256" />
	<arg name="robot" default="true" />
	<arg name="experiment" default="true" />
	<arg name="video" default="false" />
	<arg name="enable_rectify" default="true" />

	<arg name="robot_topics" default="" unless="$(arg robot)" />
	<arg name="experiment_topics" default="" unless="$(arg experiment)" />
	<arg name="video_topics" default="" unless="$(arg video)" />

	<arg name="robot_topics"
		value="
		/maki_command
		/maki_feedback_default_pos
		/maki_feedback_default_speed
		/maki_feedback_error
		/maki_feedback_goal_pos
		/maki_feedback_goal_speed
		/maki_feedback_max_pos
		/maki_feedback_min_pos
		/maki_feedback_pres_load
		/maki_feedback_pres_pos
		/maki_feedback_pres_speed
		/maki_feedback_pres_temp
		/maki_feedback_torque_enable
		/maki_feedback_torque_limit
		/maki_feedback_torque_max
		"
		if="$(arg robot)" />

	<arg name="experiment_topics"
		value="
		/freeplay_annex_command
		/maki_macro
		/experiment_info
		/freeplay_agency
    /from_central_brain
		"
		if="$(arg experiment)" />

	<arg name="video_topics"
		value="
		/camera_robot_mouth/camera_info
		/camera_robot_mouth/image_raw/compressed
		/camera_left_screen/camera_info
		/camera_left_screen/image_raw/compressed
		/camera_center_robot/camera_info
		/camera_center_robot/image_raw/compressed
		/camera_right_screen/camera_info
		/camera_right_screen/image_raw/compressed
		"
		if="$(arg video)" />

	<node pkg="data_logger" name="freeplay_annex_data_logger" type="data_logger" output="screen" required="true" >
		<!-- See the 'rosbag record' manual for parameter description -->
		<param name="rosbag_record_args"
			value="
			--output-prefix=$(arg participantID)_freeplayAnnex 
			-- split 
			--size=$(arg split_size)
			$(arg robot_topics)
			$(arg experiment_topics)
			$(arg video_topics)
			/freeplay_annex_data_logger/status 
			/rosout_agg
			/rosout
			" />
		<param name="bag_path" value="$(arg bag_path)" />
	</node>
</launch>
