<launch>
	<arg name="model" default="$(find maki_robot)/maki.urdf" />
	<arg name="use_gui" default="True" />
	<arg name="tty_port" default="USB0" />
	<include file="$(find urdf_tutorial)/launch/display.launch" >
		<arg name="model" value="$(arg model)" />
		<arg name="gui" value="$(arg use_gui)" />
	</include>
	<node name="maki_arbotix_interface" pkg="maki_robot" type="MAKI-Arbotix-Interface.py" output="screen" args="$(arg tty_port)" />
	<node name="maki_urdf_interface" pkg="maki_robot" type="MAKI-URDF-Interface.py"/>	
</launch>
