<launch>
	<!-- not sure if we need this -->
    <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch" > 
    	<arg name="port" value="9090"/>
  	</include>

  	<!-- robot interface -->
	<node name="maki_arbotix_interface" pkg="maki_robot" type="MAKI-Arbotix-Interface.py" output="screen" />

	<!-- controller -->
	<node name="inspire4_controller" pkg="maki_robot" type="INSPIRE4_controller.py" output="screen" />

	<!-- behaiors -->
	<node name="asleep_awake" pkg="maki_robot" type="asleep_awake.py" output="screen" />
	<node name="look_inspire4_intro" pkg="maki_robot" type="look_inspire4_intro.py" output="screen" />
	<node name="look_inspire4_interactions" pkg="maki_robot" type="look_inspire4_interactions.py" output="screen" />
	<node name="engagement_inspire4" pkg="maki_robot" type="engagement_inspire4.py" output="screen" />

 	<!-- for testing -->
	<!-- <node name="sim_inputs" pkg="maki_robot" type="sim_inputs.py" output="screen" /> -->

  	<!-- rosbag for recording interactions -->
	<!--<node pkg="rosbag" type="record" name="rosbag_record_common"
       args="-o $(find sar_core)/logs/rosbags/rosbag_common /rosout"/> --> <!-- TODO: include topics -->
</launch>
